

/*Big tablet to 1200px bigger than the 1140px  row width*/

@media only screen and (max-width: 1200px) {
   .hero-text-box {
    width: 100%;
	padding: 0% 2%;
	
}
	
	.row {
		padding: 0 2%;
		
	}
	
	.form__heading {
		font-size: 1em;
	}

}


/*small phones to small tabelts: from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
	body {
		font-size: 0.9rem;
	}
	section {
		padding: 60px 0;
	}
	.long-copy {
		width: 80%;
		margin-left: 10%:
	}
	
	.info-box { 
		margin-top: 0.1rem;
	}
	.info-box:last-child {
		margin-bottom: 5rem;
	}
	
	.andy_cam:last-of-type {
		width: 100%:
		
}
	
	.andy_vid {
		width: 50%;
		margin-bottom: 2rem;
	}
	
	.plan-box__container {
		font-size: 0.8rem;
		display: block;
	}
	.plan-box {
		width: 100%;
		margin-left: 0;
	}
	
	
	a.button {
		width: 80%;
	}
	.plan-sign a span {
	  transform: translate(-50%, -50%);
	  top: 50%;
	  display: inline-block;
	  position: absolute;
	 
}
	
	.form-section {
		width: 100%;

	}
	
	.form__heading,
	.form__label,
	.form__text {
		font-size: 0.6rem;
	}
}

/*small phones to small tabelts: from 481px to 767px*/
@media only screen and (max-width: 767px) {
	body { font-size: 0.8rem;}
	.plan-box__container {
		font-size: 0.7rem;
		display: block;
	}
	section {
		padding: 0.5rem 0;
	}
	.row,
	.hero-text-box {
		padding: 0 4%;
	}
	
     .btn.btn-arrow {
		width: 10%;
	}
	
	div.col {
		width: 100%;
		margin: 0% 0 4% 0%;
	}
	a.button {
		width: 50%;
	}
	
	.main-nav {
		display: none;
	}
	.info-box {
		margin 0.1rem 0;
	}
	
	h1 {font-size: 180%;}
	h2 {font-size: 180%;}
	.long-copy {
		width: 100%;
		margin-left: 0;
	}
	
	.info-box { 
		margin-top: 0.1rem;
	}
	.info-box:last-child {
		margin-bottom: 5rem;
	}
	
	.andy_cam:last-of-type {
		width: 100%:
		
}
	
	.andy_vid {
		width: 50%;
		
	}
	
	.plan-box__container {
		font-size: 0.8rem;
		display: block;
	}
	.plan-box {
		width: 100%;
		margin-left: 0;
	}
	
	.andy_cam {
		width: 100%;
		margin: 0 auto;
	}
	
	.info-box-heading {
		font-size: 1.7rem;
	}
	
.menu_toggler {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 9999;
  height: 28px;
  width: 28px;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
/*  background: #fff;*/
}

span, 
span::after,
span::before {
  position: absolute;
  content: '';
  width: 28px;
  height: 2.5px;
  background: #FAFAFA;
  border-radius: 20px;
  transition: 600ms  cubic-bezier(0.77,0,0.175, 1);
/*  cubic-bezier(0.77,0,0.175, 1)*/
}

span::before {
  top: -8px;
}

span::after {
  top: 8px;
}

.menu_toggler.active > span {
    background: transparent;
}

.menu_toggler.active > span::after,
.menu_toggler.active > span::before {
    background: #005C9C;
    top: 0;
    
}

.menu_toggler.active > span::before {
     transform: rotate(-225deg);
}

.menu_toggler.active > span::after {
     transform: rotate(225deg);
}
	
}







/*small phones 0 to 400px*/
@media only screen and (max-width: 480px) {
	section {
		padding: 25px 0;
	}
	.contact-form {
		width: 100%;
	}
}