

/*Big tablet to 1200px bigger than the 1140px  row width*/

@media only screen and (max-width: 1200px) {
   .hero-text-box {
    width: 100%;
	padding: 0% 2%;
	
}
	
	.row {
		padding: 0 2%;
		
	}

}


/*small phones to small tabelts: from 768px to 1023px*/

@media only screen and (max-width: 1023px) {
	body {
		font-size: 0.9rem;
	}
	section {
		padding: 60px 0;
	}
	.long-copy {
		width: 80%;
		margin-left: 10%:
	}
	
	.info-box { 
		margin-top: 0.1rem;
	}
	.info-box:last-child {
		margin-bottom: 5rem;
	}
	
	.andy_cam:last-of-type {
		width: 100%:
		
}
	
	.andy_vid {
		width: 50%;
		margin-bottom: 2rem;
	}
	
	.plan-box__container {
		font-size: 0.8rem;
		display: block;
	}
	.plan-box {
		width: 100%;
		margin-left: 0;
	}
	
	
	a.button {
		width: 80%;
	}
	.plan-sign a span {
	  transform: translate(-50%, -50%);
	  top: 50%;
	  display: inline-block;
	  position: absolute;
	 
}
	
	.form-section {
		width: 100%;

	}
	
	.form__heading,
	.form__label,
	.form__text {
		font-size: 0.6rem;
	}
}

/*small phones to small tabelts: from 481px to 767px*/
@media only screen and (max-width: 767px) {
	.plan-box__container {
		font-size: 0.7rem;
		display: block;
	}
}






/*small phones 0 to 400px*/
@media only screen and (max-width: 400px) {
	
}