
header#hero#hero_public_speaking {
/*		background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(../img/andy_club_speech_banner.jpg);*/

}

header#hero_fear_workshop {
		background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(../img/andyinternational.jpg);
	
}


.workshop-testimonials {
		background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(../img/workshop.jpg);
}

.hero_online {
    	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(../img/andy_tideway.jpg);
}


.public-speaking-box {
    max-width: 20em;
   max-height: 20em;
    display: relative;
    margin-top: 
   
}