/*BASE STYLES*/

:root {
  --main-bg-color: #1F61C1;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html, body
{
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;


}

html {
	scroll-behavior: smooth;
}

/******REUSABLE COMPONENTS******/



.row {
	max-width: 1140px;
	margin: 0 auto;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}



/******HEADINGS*******/


h1.hero-text-box__heading,
h2.features__box__heading, 
h3 { 
	font-weight: 300;
	text-transform: uppercase;
/*	letter-spacing: 1px;*/
}




h1.hero-text-box__heading {
	margin: 0;
	text-align: center;
	color: #fff;
	font-size: 280%;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	word-spacing: 4px;
	margin: 0 auto;
}



h4.hero-text-box__subheading {
	color: #fff;
	text-align: center;
	margin-top: 1.1em;
	letter-spacing: 1px;
}

.hero-text-box__subheading {
	color: #fff;
	text-align: center;
	margin-top: 1.1em;
	letter-spacing: 1px;
}

.features__box__heading,
.features__box__text,
.section-info__heading,
.section-info__subheading,
.package-header {
	text-align: center;
}

.feature__box {
	padding: 1%;
	border-radius: 20px;
	background-color: #1F61C1;
	color: #fff;
	font-size-adjust: auto;
	max-height: 20rem;
	animation-duration: 2s;
/*	max-width: inherit;*/
}

.public-speaking-box {
	position: relative;
	bottom: 12rem;
	padding: 3%;
	background-color: #61BFF2;
	height: 8rem;
}

h2.features__box__heading { 
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #1F61C1;
	content: " ";
	width: 8.9rem;
	text-align: center;
	margin: 1rem auto;
}

h2.section-plans__heading {
	word-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}
h3.features__box__heading {
	font-size: 90%;
	font-weight: bold;
	letter-spacing: 1px;
	
}

.wrap {
	   min-height: calc(100vh - 14rem);
}










/******PARAGRAHPS******/

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.features__box__text {
	font-size: 90%;
	line-height: 145%;

/*
	max-height: inherit;
	max-width: inherit;
*/
}

.public-speaking-copy {
	font-size: 120%;
}

#features2 {
	padding: 0;
}

/******ICONS******/

ion-icon {
    font-size: 140%;
	display: block;
	color: #fff;
	margin-bottom: -10px;
	font-weight: 800;

}



/*****BUTTONS*****/

.btn {
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.btn.btn-arrow {
	top: 270%;
	display: block;
	margin: 0 auto;
	width: 3%;
	font-size: 2em;
	
}
.btn.btn-ghost:link,
.btn.btn-ghost:visited{
	color: azure;
	top: 170%;
	display: inline-block;
	padding: 10px 30px;
/*	ten top 30 left and right*/
	font-weight: 300;
	text-decoration: none;
	border: 1px solid azure;
	border-radius: 20px;
	transition: background-color 0.8s, border 0.8s, color 0.8s;
}

.btn.btn-ghost:hover {
    background-color: #1F61C1;
/*	transition: 0.6s;*/
	border: 1px solid #1F61C1;
}

/*****HEADER*****/


.hero_public_speaking {
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(../img/andy_club_speech_banner.jpg);

}
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.4),rgba(0, 0, 0, 0.7)), url(../img/andy_speaking.jpg);
	height: 100vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	
}




.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.logo
{
	height: 40px;
	width: auto;
	float: left;
	margin-top: .8em;
	position: absolute;
	left: 2%;
}


/*
.logo2 {
	height: 30px;
	width: auto;
	float: left;
	margin-top: .5em ;
	position: absolute;
	left: 2%;
	
	display: none;
} 
*/
/*MAIN NAV */
nav {
	height: 8%;
}
.main-nav {
	margin-top: .8em;
	float: right;
	list-style: none;
	text-decoration: none;
	
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	padding: 8px 0;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 90%;
/*	create before hover*/
	border-bottom: 2px solid transparent;
	transition: border-bottom 0.6s;
	
	
}



ul li:hover > ul.dropdown,
ul li ul:hover li:hover{
  visibility: visible;
  opacity: 1;
  display: block;
  
	
	
}


ul li ul.dropdown li {
  clear: both;
  width: 100%;
}


.main-nav li a:hover, 
.main-nav li a:active {
	border-bottom: 2px solid #1F61C1;
}

.main-nav li ul {
	visibility: hidden;
	opacity: 0;
	display: none;
    position: absolute;
	transition: all 1s ease;
	margin-top: 1rem;
    display: none;
/*	right: 0;*/
}

.main-nav li ul.dropdown li {
	margin: 0.3em;
}




/*
.btn-full {
	position: absolute;
	top: 170%;
	display: inline-block;
	padding: 10px 30px;
	left: 50%;
	transform: translate(-50%, -50%);
	ten top 30 left and right
	font-weight: 300;
	text-decoration: none;
	background-color: azure;
}

*/


/*STICKY NAV*/


.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 2px 2px #e8e8e8;
	z-index: 9999;
}





.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
/*	apply only when class is inside the sticky class*/
	padding: 8px 0;
	color: #555;
}
.sticky .main-nav {
	margin-top: .8em;

	
}
/*

.sticky .logo {
	display: none;
}
*/

.sticky .logo {
	display: none;
/*	hide normal logo in sticky */
}

.sticky .logo2 {
	display: block;
/*display it in the sticky state*/
}

/****FEATURES****/



section.section-features {
	padding: 5rem;
}

section.section-features .long-copy {
	margin-bottom: 1.5rem;
}

h2.section-info__heading {
	margin-top: 2rem;
}







/******ANDY SHOWCASE******/

.section-gallery {
	padding: 0;
	
}

ul.andy-showcase {
	list-style: none;
	width: 100%;
	
}



ul.andy-showcase li {
	display: block;
	float: left;
	width: 25%;
/*	4 elements */
	
}

.andy-photo {
	width: 100%;
	margin: 0;
	overflow: hidden;
	background-color: #000;
}

.andy-photo img {
	opacity: 0.7;
	width: 100%;
	height: auto;
/*	//make them bigger than they are supposed to be*/
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
/*	define transition interval*/
}

img.andy_camera {
/*
	width: 18rem;
	float: right;
*/
}

.andy-photo img:hover {
	transform: scale(1.03);
	opacity: 1
}


/*******INFO*******/
.section-info {
	background-color: #f4f4f4;
}
.section-info__subheading {
	margin-bottom: 1rem;
}

.section-info img.andy_cam {
	width: 100%;
}

img.andy_cam2 {
	width: 100%;
	float: right;
}


.andy_vid {
	
}
.info-box {
	margin-top: .3rem;
}

.info-box-heading {
	text-align: center;
}
.info-box:first-child {
	text-align: right;
	padding-right: 3%;
}

.info-box:last-child {
	padding-left: 3%;
}

.info-box-heading {
	margin-bottom: 1rem;
	padding: 0.1rem;
}

.info-text-paragraph {
	margin-bottom: 2rem;
	line-height: 1.4rem;
	padding: 0.1rem;
}




/******PACKAGES******/

.section-packages {
	padding: 4em;
}
h2.package-header {
	margin-top: -2rem;
}
div.feature__box h3 {
	text-align: center;
}

.package__box {
	color: #555;
	background-color: white;
	position: relative;
	height: 25rem;
	border: 1px solid grey;
	padding: 1%;
	border-radius: 20px;
	color: #fff;
	font-size-adjust: auto;
	width: 30%;
	height: 10rem;
/*	overflow-y: hidden*/
	
}

div .package-feature  {
	height: auto;
	text-align: center;
}
.package-feature p {
	font-size: 0.8rem;
	color: black;
	margin-top: 8rem;
	position: relative;
	line-height: 1.4;
    top: 40;
/*	margin: 0 auto;*/
/*	overflow: hidden;*/
	

}

.package__box:nth-child(2) .package-feature p {
	margin-top: 7rem;
}

.package_img {
	width: 100%;
	position: absolute;
	height: auto;
	border-radius: 10px;
	top: 0;
	left: 0%;
}



a.package-btn:link,
a.package-btn:visited {   
	color: aliceblue;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	background-color: #1F61C1;
	height: 3rem;
	width: 11rem;
	text-align: center;
	display: block;
	position: absolute;
	bottom: 0%;
	overflow: hidden;
/*	text-align: inherit;*/
	padding: 0rem 0rem;
/*	align-content: center;*/
	border-radius: 20px;
	text-decoration: none;
    word-break: normal;
}

.btn-text {
	display: inline-block;
	position: absolute;
	align-content: center;
	top: 50%;
	transform: translate(-50%, -50%);
}



/******TESTIMONIALS*******/


.section-testimonials {
	padding: 7em;
	color: #fff;
	background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url(../img/andytoast.jpg);
	background-size: cover;
	background-attachment: fixed;
/*	color: #fff;*/
}

.package-header {
	margin-bottom: 1em;
}

blockquote {
	padding: 2%;
	font-style: italic;
	line-height: 145%;
	position: relative;
	margin-top: 40px;
}

blockquote:before {
	content: '\201C';
	font-size: 400%;
	display: block;
	position: absolute;
	top: -4px;
	left: -3px;
}


blockquote:after {
  content: '\201D';
  font-size: 400%;
  display: block;
  position: absolute;
/*  content: close-quote;*/
  right: 6px;
	
	
}

cite {
	font-size: 90%;
	margin-top: 25px;
	display: block;
}


/*****CALDENDAR****/
.section-calender {
	padding: 5em;

}

#datepicker {
	color: black;
	border: black;
	display: block;
	position: relative;
	margin: 0 auto;
	text-align: center;
	font-size: 1rem;
}


/*****CLIENTS*****/

.clients-section {
	padding: 0.5em 0;
}

.client-carousel {
	padding: 6em;
	width: 100%;
	height: 50vh;
}

.owl-dot {
	display: inline-block;
	height: 15px !important;
	width: 15px !important;
	background-color: #000 !important;
	border-radius: 50%;
	margin: 0 5px;
}


.owl-dots {
	text-align: center;
	
}

.owl-dot.active {
	background-color: #7c9ee6 !important;
}



/******CALENDAR******/


.calendar {
	display: block;
	margin: 0 auto;
}

/******PLANS******/
.section-plans {
	background-color: #f4f4f4;
}


.section-plans__heading  {
	margin-top: 1em;
}
.plan-box {
	background-color: #fff;
	border-radius: 5px;
	width: 100%;
	margin-left: 5%;
	box-shadow: 0 2px 2px #c1b4b4;
	height: 25rem;
	position: relative;
	
}


.plan-box div {
	padding: 20px;
	border-bottom: 1px solid #e8e8e8;
	display: absolute;
    overflow: auto;
}

.plan-price {
	font-size: 300%;
	margin-bottom: 10px;
	font-weight: 100;
	color: #1F61C1;
	text-align: center;
	
}

.plan-title h3 {
  margin: 0 auto;
	text-align: center;
}
.plan-box ul {
	list-style: none;
	
}

.plan-box ul li {
	padding: 5px 0;
}
.plan-sign {
	
	position: relative;
	padding: 6rem;
    margin: 0 auto;
    transform: translate(-50%, 0%);
    left: 50%;
	border: 0;
}
.plan-sign a {
	position: absolute;
	background-color: #1F61C1;
	height: 1.6rem;
	width: 9rem;
	color: #fff;
	margin: 0 auto;
    transform: translate(-50%, -50%);
    left: 50%;
	border-radius: 20px;
	text-decoration: none;
    word-break: normal;
	text-align: center;

	
}


.plan-sign a span {
	  transform: translatex(-50%, -50%);
	  top: 100%;
	  position: inline-block;
}

/*******FORM STYLES*******/
#contact {
	margin-top: 5rem;
	margin-bottom: 5rem;
	
}

.form-section {
 height: 100vh;
}

.form-body {
  width: 100%;
  height: 100%;
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
  position: relative;
/*  font-family: 'Open Sans', sans-serif;*/
  font-weight: 300;
  background: #fff;
}

.form-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  position: relative;
}

.form-body.menu-active .form-container {
  transform: scale(0.9);
}

.form-container .inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}



h1.form__heading, form__label {
font-size: 2rem !important;
color: white !important;
}

.form-nav a.white {
  color: #FAFAFA;
}


.form-container .inner .panel {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 60%;
  float: left;
  transform: skew(-20deg);
}

.form-container .inner .panel.panel-left {
  margin-left: -10%;
}

.form-container .inner .panel .panel-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) skew(20deg);
}

.form-container .inner .panel.panel-left .panel-content .image-background {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 50%;
  top: 50%;
  opacity: 0.95;
  background-image: url('http://uplusion23.net/images/RickGenestSm.png');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.form-container .inner .panel.panel-right {
  margin-right: -10%;
  background: #1F61C1;
}

.form-container .inner .panel.panel-right .panel-content .form {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.form-container .inner .panel.panel-right .panel-content .form h1 {
  display: block;
  margin: 0 0 45px 0;
/*  color: #B1B1B1;*/
  font-weight: 200;
  font-size: 18px;
}

.form-group { 
  position: relative; 
  margin-bottom: 25px; 
}

input, textarea {
  font-size: 13px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid white;
  color: white;
  background: rgba(0,0,0,0);
  opacity: 0.5;
  transition: 0.2s ease;
}

textarea {
	height: 3rem;
	resize: none;
}
textarea:focus{
  outline: none;
  opacity: 1;
}

input:focus {
  outline: none;
  opacity: 1;
}

label {
  color: white; 
  font-size: 13px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 1px;
  opacity: 0.5;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
  top: -10px;
  font-size: 12px;
  color: white;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from { background:white; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:white; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:white; }
  to 	{ width:0; background:transparent; }
}

a.send-btn {
  float: right;
  color: white;
  transition: 0.2s ease;
}

a.send-btn:hover {
  color: #000;
  cursor: pointer;
  font-size: 1rem;
}

.form-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  
  transition: all 0.33s ease;
}


.form-menu::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240,240,240,0.0);
  
  transition: all 0.45s ease;
}

.form-body.menu-active .form-menu {
  left: 0;
}

.form-body.menu-active .form-menu::before {
  background: rgba(240,240,240,0.9);
}

.form-messages {
	width: 70%;
	margin: 0 auto;
	padding: 10px;
	border-radius: 3px;
	text-align: center;
}

.success {
	background-color: #89b783;
}

.error {
	background-color: rgba(208, 38, 38, 0.8)
}


/*****FOOTER*****/


footer {
	background-color: #ffffff;
	color: #ff2700;
	font-size: 90%;
	font-weight: 100;
/*	height: 14rem;*/
}

.section-footer, section-footer {
	color: #ff2700 !important;
}


.footer-nav {
	list-style: none;
/*	float: left;*/
/*	display: block;*/
	color: #ff2700;
	text-decoration: none;
	
}


.footer-nav li {
    color: #ff2700;
	display: block;
	width: 100%;
	margin-top: 1%;
}
.footer-nav li a {
	text-decoration: none;
	color: #ff2700;
	
}
.social-links {
	list-style: none; 
    color: #ff2700;
	display: block;
}

/*.footer-nav li,*/
.social-links li {
	color: #ff2700;
	display: inline-block;
	margin-right: 20px;
   text-decoration: none;
	
}

.fab {
 font-size: 140%;
  margin-right: 0.2rem;
}



.social-links li:last-child {
	margin: 0;
}





.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	text-decoration: none;
	color: #ff2700;
	transition: color 0.3s;

}


.footer-title,
ul.address, 
ul.details {
	font-size: 1.1rem;
	list-style: none;
	color: #ff2700;
}

ul.address, 
ul.details {
	font-size: 0.7rem;
}

.footer-nav li a:hover, 
.footer-nav li a:active,
.social-links li a:hover {
	color: #1F61C1;
}


.copyright {
	text-align: center; 
}



/******ANIMATIONS*******/


.js--wp-1 {
	opacity: 1;
}
/*animated with the js waypoint one class*/
.js--wp-1.animated {
	opacity: 1;
}

/*
@keyframes fadeInRight {
0% { opacity: 0;
	transform: translateX(400px);
}
	
	50% {
		opacity: 0.5;
		transform: translateX(200px)
	}
	
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
*/
	

.fadeInRigh {
		animation-name: fadeInRight;
	}



